@import url("https://fonts.googleapis.com/css2?family=Oxanium&display=swap");
* {
  box-sizing: border-box; }

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, white 0%, #909090 75%, #2e2e2e 100%);
  font-family: 'Oxanium', cursive; }

::placeholder {
  color: white;
  opacity: 1;
  font-family: 'Oxanium', cursive; }

#container {
  text-align: center;
  background: linear-gradient(180deg, #b4b4b4 0%, #454545 5%, #454545 95%, #b4b4b4 100%);
  height: 600px;
  width: 365px;
  border-radius: 2.5%;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.header {
  color: white;
  margin-top: 15px;
  font-size: 1.5rem;
  font-family: 'Oxanium', cursive; }

#buttons {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: repeat(5, 75px);
  font-size: 2rem;
  font-weight: bold; }
  #buttons button {
    color: white;
    background: linear-gradient(180deg, #b4b4b4 0%, #5c5c5c 10%, #5c5c5c 90%, #b4b4b4 100%);
    font-family: 'Oxanium', cursive; }
  #buttons i {
    font-size: 1.375rem; }
  #buttons .operator, #buttons #equals {
    color: cyan; }
  #buttons #clear, #buttons #delete {
    color: #ca5454; }
    #buttons #clear i, #buttons #delete i {
      color: #ca5454; }
  #buttons #equals {
    grid-column: 3/5; }

#display-container {
  width: 100%;
  font-family: 'Oxanium', cursive; }
  #display-container div {
    width: 100%;
    outline: none;
    text-align: right;
    height: 40px;
    color: white;
    background-color: black; }
  #display-container #display {
    font-size: 1.875rem; }

.footer {
  height: 35px;
  text-align: center;
  font-family: 'Oxanium', cursive; }
  .footer i {
    color: white;
    margin-right: 5px; }
  .footer a:active,
  .footer a:hover,
  .footer a {
    text-decoration: none;
    color: white; }
