@import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');

*{
  box-sizing: border-box;  
}

body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(144,144,144,1) 75%, rgba(46,46,46,1) 100%); 
  font-family: 'Oxanium', cursive;
}

::placeholder {
  color: white;
  opacity: 1;
  font-family: 'Oxanium', cursive;
}

#container {
  text-align: center;
  background: linear-gradient(180deg, rgba(180,180,180,1) 0%, rgba(69,69,69,1) 5%, rgba(69,69,69,1) 95%, rgba(180,180,180,1) 100%);
  height: 600px;
  width: 365px;
  border-radius: 2.5%;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  }

.header {
  color: white;
  margin-top: 15px;
  font-size: 1.5rem;  
  font-family: 'Oxanium', cursive;
}
#buttons {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: repeat(5, 75px);
  font-size: 2rem;
  font-weight: bold;
  button {
    color: white;
    background: linear-gradient(180deg, rgba(180,180,180,1) 0%, rgba(92,92,92,1) 10%, rgba(92,92,92,1) 90%, rgba(180,180,180,1) 100%);
    font-family: 'Oxanium', cursive;
  }
  i {
    font-size: 1.375rem;
  }
  .operator, #equals {
    color: cyan;
  }
  #clear, #delete {
    color:indianred;
    i{
      color:indianred;
    }
  }
  #equals {
    grid-column:3/5;
  }
}

#display {
  width: 100%;
  font-family: 'Oxanium', cursive;
  div {
    width: 100%;
    outline: none;
    text-align: right;
    height: 40px;
    color: white;
    background-color: black;
  }
  #input-dis {
    font-size: 1.875rem;
  }
}

.footer {
  height: 35px;
  text-align: center;
  font-family: 'Oxanium', cursive;
  i {
    color: white;
    margin-right: 5px;
  }
  a:active,
  a:hover,
  a {
    text-decoration: none;
    color: white;
    text-decoration: none;
  }
}